body {
    margin: 0em;
    min-width: 26em;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

#osDetected {
    font-weight: bold;
}

#scrollFactor {
    font-weight: bold;
    margin-right: auto;
}

.tooltip-label {
    font-size: 0.7em;
    margin: 0em;
}

#statusText {
    font-weight: bold;
}

.tooltip {
    position: relative;
    border-bottom: 1px dashed #000;
}

.tooltip:before {
    content: attr(data-text);
    position:absolute;

    top:10%;
    transform:translateY(-110%);

    left:-150%;
    margin-left:15px;

    width:175px;
    height:auto;
    padding:5px;
    border-radius:10px;
    background:#000;
    color: white;
    font-size: 0.7rem;

    display: none;
}

.tooltip:hover:before {
    display: block;
}

input {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 3.5em;
}

input[type=checkbox] {
    margin: 0em;
    margin-left: 0.5em;
}

input:disabled {
    background-color: white;
    color: black;
    border: none;
}

input:enabled {
    border: none;
    background: lightgray;
}

label {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
    font-size: 1.2em;
}

.title {
    margin: 0;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
    color: white;
    background-color: #4C86CD; 
}

.os-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.osDetected {
    display: flex;
}

.statusText {
    display: flex;

}

.scroll-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.smooth-wrapper {
    display: flex;
    justify-content: start;
    padding: 0.5em;
}

.ignored-domains-wrapper {
    padding: 0.5em;
}

.ignored-domains-wrapper label {
    margin-bottom: 3px;
}

.flex {
    display: flex;
}

.version {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 0.7em;
    color: grey;
    padding: 1em 0.5em;
}

#ignoredDomains {
    font-size: 0.95em;
}